@model List<ExamApp.Entities.Concrete.Lesson>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                LessonCode
            </th>
            <th>
                LessonName
            </th>
            <th>
                Class
            </th>
             <th>
               TeacherName
            </th>
            <th>
                TeacherSurname
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.TeacherSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LessonCode">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LessonCode">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LessonCode">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
